.headcontainer{
    display: flex;
    flex-wrap: wrap;
    height:70px;
   
    margin-left:200px;
    /* z-index: -1; */
   
  }
  .headwrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .title{
    margin-left: 70px;
  }
  .title>h2{
    color: rgb(0, 0, 0);;
  }
  .title>p{
    color: rgb(0, 0, 0);;
  }
  .title>h2>span{
    color:rgb(9, 112, 72);
  }
  .profile{
    display: flex;
    position: absolute;
    right: 20px;
    gap: 13px;
  }
  .input{
    border: none;
    background: rgb(245,245,245);
    border-bottom: 1px solid gray;
  }
  .ProfileSearch{
    color: gray;
    background-color: #fff; 
    border-radius: 50%;
    padding: 2px;
    font-size: 24;
  
  }
 
  @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headcontainer{
    width: 100%;
    margin-left: 70px;
}
.profile{
    display: none;
}

  }